In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

Data loading

In [2]:
ratings = pd.read_csv("testards.csv",low_memory=False)
ratings_train = pd.read_csv("train.csv",low_memory=False)
ratings_test = pd.read_csv("test.csv",low_memory=False)

In [3]:
datasets = ratings.data_id.unique()
models = ratings.model_id.unique()

Rating Matrix

In [4]:
data_model_train_matrix = pd.DataFrame(index=datasets,columns=models)
data_model_test_matrix = pd.DataFrame(index=datasets,columns=models)

In [5]:
for row in ratings_train.itertuples():
    data_model_train_matrix[row[2]][row[1]] = row[3]
data_model_train_matrix = data_model_train_matrix.fillna(0)

In [6]:
for row in ratings_test.itertuples():
    data_model_test_matrix[row[2]][row[1]] = row[3]
data_model_test_matrix = data_model_test_matrix.fillna(0)

In [7]:
data_model_train_matrix

,686,318,596,708,795,597,950,841,641,868,...,315,976,723,952,326,179,100,618,468,719
0,0.939,0.938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
1,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
2,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
3,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
4,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
62,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
63,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000
64,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.685,...,0.586,0.568,0.562,0.559,0.557,0.553,0.513,0.24,0.205,0.000
65,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.911

Ratings Based Dataset Similarity Matrix

In [8]:
rating_based_dataset_similarity = cosine_similarity(data_model_train_matrix)
rating_based_dataset_similarity = pd.DataFrame(rating_based_dataset_similarity,index=datasets,columns=datasets)
# i, j = 0, 0
# while i < len(datasets):
#     while j < len(datasets):
#         rating_based_dataset_similarity.iloc[i,j] = None
#         i += 1
#         j += 1

In [9]:
rating_based_dataset_similarity

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
63,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Model Similarity Matrix

In [10]:
meta_models = pd.read_csv("model_v.csv", low_memory=False)
meta_models = meta_models.loc[:,
                ('v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15', 'v16')]
meta_models_similarity = cosine_similarity(meta_models.values.tolist())
meta_models_similarity = pd.DataFrame(meta_models_similarity,index=models,columns=models)

MetaData Similarity

In [11]:
meta_datasets = pd.read_csv("data_v.csv",low_memory=False)
meta_datasets = meta_datasets.loc[:,('v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','v11','v12','v13','v14','v15','v16')]

In [12]:
meta_dataset_similarity = cosine_similarity(meta_datasets.values.tolist())
meta_dataset_similarity = pd.DataFrame(meta_dataset_similarity)
# i, j = 0, 0
# while i < len(datasets):
#     while j < len(datasets):
#         meta_dataset_similarity.iloc[i,j] = None
#         i += 1
#         j += 1

Find Top_k model and datasets

In [13]:
meta_dataset_similarity

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,1.000000,0.968805,0.961126,0.927320,0.956376,0.916733,0.952148,0.920855,0.890882,0.942792,...,0.950409,0.976436,0.964960,0.944200,0.957577,0.942917,0.975438,0.966703,0.980483,0.966101
1,0.968805,1.000000,0.958946,0.964133,0.985872,0.955837,0.981550,0.942500,0.927512,0.974009,...,0.974472,0.967199,0.979952,0.975296,0.974722,0.963943,0.953937,0.988784,0.970760,0.965765
2,0.961126,0.958946,1.000000,0.942567,0.949051,0.927017,0.949815,0.911424,0.875510,0.944227,...,0.962383,0.945786,0.955871,0.933683,0.951501,0.937409,0.967578,0.967312,0.955307,0.964790
3,0.927320,0.964133,0.942567,1.000000,0.986971,0.984995,0.972327,0.900143,0.920045,0.963344,...,0.948234,0.944723,0.954705,0.960330,0.975343,0.961279,0.928068,0.967910,0.945771,0.950269
4,0.956376,0.985872,0.949051,0.986971,1.000000,0.977979,0.988329,0.926310,0.940086,0.979640,...,0.958277,0.971969,0.975171,0.975352,0.983206,0.964123,0.947026,0.986377,0.970065,0.961034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.942917,0.963943,0.937409,0.961279,0.964123,0.959657,0.965829,0.912117,0.884880,0.938818,...,0.975946,0.940895,0.949854,0.980713,0.987968,1.000000,0.935864,0.964269,0.941820,0.926664
62,0.975438,0.953937,0.967578,0.928068,0.947026,0.904110,0.947911,0.901846,0.874434,0.930914,...,0.927555,0.958371,0.951608,0.933650,0.944921,0.935864,1.000000,0.961585,0.966791,0.951350
63,0.966703,0.988784,0.967312,0.967910,0.986377,0.955594,0.987315,0.945249,0.934553,0.987649,...,0.963370,0.966830,0.984481,0.976979,0.980604,0.964269,0.961585,1.000000,0.986404,0.975096
64,0.980483,0.970760,0.955307,0.945771,0.970065,0.937506,0.963716,0.936665,0.923163,0.969653,...,0.938868,0.965462,0.970731,0.948539,0.966759,0.941820,0.966791,0.986404,1.000000,0.968540
65,0.966101,0.965765,0.964790,0.950269,0.961034,0.917810,0.967026,0.909780,0.904053,0.971759,...,0.941568,0.963092,0.971542,0.949468,0.953206,0.926664,0.951350,0.975096,0.968540,1.000000

In [14]:
def Find_Top_k(i,sim_matrix,k):
    row = sim_matrix.loc[i]
    row = row.sort_values(ascending=False)
    index_row = row.index
    index_row = index_row.values.tolist()
    return index_row[:k]

Prediction

In [15]:
def predict(ratings, similarity):
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = ratings - np.array(mean_user_rating)[:,np.newaxis]
        pred = np.array(mean_user_rating)[:,np.newaxis] + np.dot(similarity,ratings_diff) / np.array([np.abs(similarity).sum(axis = 1)]).T
        return pred

In [16]:
prediction = predict(data_model_train_matrix,rating_based_dataset_similarity)
model_prediction_csv = pd.DataFrame(prediction,index=datasets,columns=models).sort_index()

C:\Users\BYY\Model_Recommendation\venv\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [17]:
model_prediction_csv

,686,318,596,708,795,597,950,841,641,868,...,315,976,723,952,326,179,100,618,468,719
0,0.939000,0.938000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
62,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.685000,...,0.586000,0.568000,0.562000,0.559000,0.557000,0.553000,0.513000,0.240000,0.205000,0.000000
65,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,...,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,-0.000695,0.699562

In [18]:
def find_most_sim_with_value(dataset_id,model_id,matrix,k):
    Top_k_list = Find_Top_k(model_id,matrix,k)
    for i in Top_k_list:
        if model_prediction_csv.loc[dataset_id,i] != 0:
            return model_prediction_csv.loc[dataset_id,i]

In [19]:
for i in datasets:
    for j in models:
        if model_prediction_csv.loc[i][j] == 0:
            model_prediction_csv.loc[i][j] = find_most_sim_with_value(i,j,meta_models_similarity,len(models))
for i in datasets:
    for j in models:
        if model_prediction_csv.loc[i].isnull().any():
            for j in models:
                most_sim_dataset = Find_Top_k(i,meta_dataset_similarity,11)[1] #find most sim dataset
                model_prediction_csv.loc[i][j] = model_prediction_csv.loc[most_sim_dataset][j]
                continue

In [20]:
model_prediction_csv = model_prediction_csv.loc[[1,3,23,63]]

In [21]:
model_prediction_csv

,686,318,596,708,795,597,950,841,641,868,...,315,976,723,952,326,179,100,618,468,719
1,0.8200,0.8400,0.867,0.8670,0.8670,0.8430,0.8390,0.8390,0.820,0.8670,...,0.8410,0.839,0.8670,0.8670,0.8430,0.840,0.8670,0.8400,0.8200,0.840
3,0.9570,0.8880,0.957,0.9570,0.9570,0.8880,0.8880,0.8880,0.942,0.9570,...,0.8880,0.888,0.9570,0.9570,0.8880,0.888,0.9570,0.8880,0.9420,0.888
23,0.7490,0.8140,0.749,0.7490,0.7490,0.8140,0.8140,0.8140,0.749,0.7490,...,0.8140,0.814,0.7880,0.7490,0.8140,0.814,0.7490,0.8140,0.7490,0.814
63,0.9303,0.9776,0.923,0.9214,0.9319,0.9303,0.8767,0.9672,0.860,0.8533,...,0.9294,0.928,0.8733,0.9319,0.9303,0.870,0.8633,0.8767,0.8767,0.928

In [22]:
index_list = model_prediction_csv.index.to_list()
index_list

[1, 3, 23, 63]

In [23]:
result = pd.DataFrame(columns={"dataset","model","predict_balance_accuracy","groundtruth_balance_accuracy"})
result

Empty DataFrame
Columns: [dataset, predict_balance_accuracy, model, groundtruth_balance_accuracy]
Index: []

In [24]:
for i in range(4):
    dataset_id = index_list[i]
    for j in range(932):
        model_id = models[j]
        if data_model_test_matrix.loc[dataset_id][model_id] == 0:
            continue
        predict_balance_accuracy = model_prediction_csv.loc[dataset_id][model_id]
        groundtruth_balance_accuracy = data_model_test_matrix.loc[dataset_id][model_id]
        result = result.append([{'dataset':dataset_id,'model':model_id,'predict_balance_accuracy':predict_balance_accuracy,'groundtruth_balance_accuracy':groundtruth_balance_accuracy}],ignore_index=True)

In [25]:
result

   dataset  predict_balance_accuracy model  groundtruth_balance_accuracy
0        1                    0.8400   318                         0.501
1        1                    0.8670   596                         0.949
2        1                    0.8670   708                         0.947
3        1                    0.8670   795                         0.946
4        1                    0.8430   597                         0.925
5        1                    0.8390   950                         0.914
6        1                    0.8390   841                         0.905
7        1                    0.8200   641                         0.901
8        1                    0.8670   868                         0.883
9        1                    0.8200   772                         0.851
10       1                    0.8390   527                         0.508
11       3                    0.9570   319                         0.946
12       3                    0.9420   177                         0.922
13       3                    0.9230   178                         0.910
14       3                    0.9420   675                         0.886
15       3                    0.9420   791                         0.870
16       3                    0.8880   277                         0.807
17       3                    0.8880   456                         0.778
18       3                    0.8880   978                         0.502
19       3                    0.8880   368                         0.498
20       3                    0.9420   857                         0.497
21      23                    0.7880   921                         0.754
22      23                    0.8140   995                         0.777
23      23                    0.7490   985                         0.779
24      23                    0.7880   997                         0.724
25      23                    0.8140   850                         0.782
26      23                    0.7490   197                         0.670
27      23                    0.7490   533                         0.871
28      23                    0.7490   872                         0.834
29      23                    0.7490   469                         0.831
30      23                    0.7490   600                         0.071
31      63                    0.9395   319                         0.954
32      63                    0.8767   784                         0.974
33      63                    0.8667   780                         0.960
34      63                    0.8767   783                         0.959
35      63                    0.9776   782                         0.957
36      63                    0.8767   323                         0.952
37      63                    0.8767   511                         0.533
38      63                    0.8767   517                         0.509
39      63                    0.8700   717                         0.484
40      63                    0.9776   885                         0.474

In [26]:
result.to_csv("Huggingface_result",sep='\t')