In [784]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

Data Loading

In [785]:
ratings_train = pd.read_csv("./Data/ratings_train.csv", low_memory=False)
ratings_test = pd.read_csv("./Data/ratings_test.csv",low_memory=False)

In [786]:
datasets_train = ratings_train.dataset_id.unique()
model_train = ratings_train.model_id.unique()
datasets_test = ratings_test.dataset_id.unique()
model_test = ratings_test.model_id.unique()

Embedded Similarity Matrix

In [787]:
meta_datasets = pd.read_csv("./Data/datasets_v.csv",low_memory=False)
datasets = meta_datasets.data_id.unique()
meta_datasets = meta_datasets.loc[:,("v1","v2","v3","v4","v5","v6","v7","v8")]
meta_dataset_similarity = cosine_similarity(meta_datasets.values)
meta_dataset_similarity = pd.DataFrame(meta_dataset_similarity,index=datasets,columns=datasets)

In [788]:
meta_datasets

,v1,v2,v3,v4,v5,v6,v7,v8
0,0.454312,0.241966,-0.178474,0.078718,-0.343706,0.150178,0.103396,-0.474233
1,0.527839,0.284245,-0.201757,0.116918,-0.394861,0.168884,0.137184,-0.536491
2,0.421102,0.234788,-0.172241,0.081514,-0.348054,0.138399,0.100450,-0.447096
3,0.358012,0.198786,-0.129784,0.068405,-0.275457,0.119678,0.093582,-0.378495
4,0.298305,0.167896,-0.120117,0.052906,-0.242469,0.107290,0.072812,-0.322821
...,...,...,...,...,...,...,...,...
67,0.446627,0.241174,-0.179276,0.092747,-0.355247,0.140657,0.110482,-0.472832
68,0.411207,0.244925,-0.156990,0.084651,-0.319750,0.147412,0.104277,-0.440762
69,0.495822,0.270633,-0.181879,0.100016,-0.387360,0.150677,0.108678,-0.507951
70,0.406016,0.214886,-0.155250,0.082475,-0.315015,0.126135,0.087693,-0.414519
71,0.177364,0.075348,-0.091034,0.006257,-0.083623,0.051864,0.039216,-0.090296

In [789]:
meta_dataset_similarity

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,1.000000,0.999340,0.999456,0.999575,0.999625,0.999396,0.999243,0.997841,0.999250,0.999323,...,0.997632,0.999130,0.999007,0.999539,0.998801,0.999608,0.999271,0.999481,0.999642,0.948047
1,0.999340,1.000000,0.999077,0.999566,0.998910,0.999598,0.999372,0.999247,0.999423,0.999505,...,0.999322,0.999076,0.999649,0.999737,0.999076,0.999579,0.999309,0.999431,0.999504,0.948487
2,0.999456,0.999077,1.000000,0.999289,0.999741,0.999340,0.999700,0.998044,0.999652,0.999843,...,0.997227,0.999587,0.999390,0.999515,0.999457,0.999807,0.999147,0.999569,0.999624,0.944207
3,0.999575,0.999566,0.999289,1.000000,0.999517,0.999611,0.999329,0.998057,0.999114,0.999539,...,0.998123,0.999335,0.999438,0.999833,0.999392,0.999538,0.999702,0.999474,0.999356,0.943553
4,0.999625,0.998910,0.999741,0.999517,1.000000,0.999077,0.999478,0.997369,0.999099,0.999491,...,0.996876,0.999359,0.998899,0.999494,0.999082,0.999532,0.999482,0.999214,0.999278,0.943514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0.999608,0.999579,0.999807,0.999538,0.999532,0.999761,0.999806,0.998538,0.999865,0.999877,...,0.998236,0.999621,0.999757,0.999848,0.999370,1.000000,0.999210,0.999676,0.999773,0.944395
68,0.999271,0.999309,0.999147,0.999702,0.999482,0.999029,0.999009,0.998374,0.998567,0.999303,...,0.997998,0.998751,0.998966,0.999500,0.999027,0.999210,1.000000,0.999157,0.999015,0.943228
69,0.999481,0.999431,0.999569,0.999474,0.999214,0.999483,0.999351,0.998503,0.999489,0.999736,...,0.997748,0.999103,0.999577,0.999528,0.999523,0.999676,0.999157,1.000000,0.999910,0.944969
70,0.999642,0.999504,0.999624,0.999356,0.999278,0.999441,0.999515,0.998538,0.999645,0.999690,...,0.997892,0.999110,0.999507,0.999552,0.999232,0.999773,0.999015,0.999910,1.000000,0.946840
71,0.948047,0.948487,0.944207,0.943553,0.943514,0.944974,0.942782,0.950478,0.946296,0.943668,...,0.949808,0.944855,0.943180,0.943011,0.943247,0.944395,0.943228,0.944969,0.946840,1.000000

In [790]:
meta_models= pd.read_csv("./Data/models_v.csv",low_memory=False)
models = meta_models.model_id.unique()
meta_models = meta_models.loc[:,("training_data","base_model","gpu_type","para_num","size(MB)","depth","flops")]
meta_model_similarity = cosine_similarity(meta_models.values)
meta_model_similarity = pd.DataFrame(meta_model_similarity,index=models,columns=models)

In [791]:
meta_models

      training_data  base_model  gpu_type  para_num  size(MB)  depth    flops
0                 0           0         1   7302474     27.86    304   529724
1                 0           1         1  13071690     49.86    424   857404
2                 0           2         1  18816330     71.78    504   988476
3                 0           3         1   4380077     16.71    158  1925299
4                 0           4         1   6905745     26.34    222  2893071
...             ...         ...       ...       ...       ...    ...      ...
1795             71          20         0  24114826     91.99    161  1054012
1796             71          21         0  24091914     91.90    137  1054012
1797             71          22         0  14848586     56.64     15   267580
1798             71          23         0  20158282     76.90     18   267580
1799             71          24         0  21388594     81.59    119  1054012

[1800 rows x 7 columns]

Rating Matrix

In [792]:
data_model_train_matrix = pd.DataFrame(index=datasets_train,columns=model_train)
data_model_test_matrix = pd.DataFrame(index=datasets_test,columns=model_test)

In [793]:
for row in ratings_train.itertuples():
    data_model_train_matrix.loc[row[1]][row[2]] = row[3]

In [794]:
for row in ratings_test.itertuples():
    data_model_test_matrix.loc[row[1]][row[2]] = row[3]

Dataset Similarity Matrix

In [795]:
dataset_similarity = pd.DataFrame(cosine_similarity(data_model_train_matrix.fillna(0)),index=data_model_train_matrix.index,columns=data_model_train_matrix.index)

Prediction

In [796]:
# 预测函数
def predict(ratings, similarity):
    mean_user_rating = ratings.fillna(0).mean(axis=1)
    ratings_diff = (ratings - mean_user_rating[:, np.newaxis]).fillna(0)
    pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
     # 只替换NaN值
    df_nan = ratings.isnull()
    pred = pd.DataFrame(pred).where(df_nan, ratings)
    return pred

In [797]:
prediction_train = predict(data_model_train_matrix,dataset_similarity)

c:\users\byy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  after removing the cwd from sys.path.
c:\users\byy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  """

In [798]:
def Find_Top_k(i,sim_matrix):
    row = sim_matrix.loc[i]
    row = row.sort_values(ascending=False)
    index_row = row.index.values.tolist()
    return index_row

In [799]:
prediction_test = pd.DataFrame(index=datasets_test,columns=model_test)

In [800]:
meta_models

      training_data  base_model  gpu_type  para_num  size(MB)  depth    flops
0                 0           0         1   7302474     27.86    304   529724
1                 0           1         1  13071690     49.86    424   857404
2                 0           2         1  18816330     71.78    504   988476
3                 0           3         1   4380077     16.71    158  1925299
4                 0           4         1   6905745     26.34    222  2893071
...             ...         ...       ...       ...       ...    ...      ...
1795             71          20         0  24114826     91.99    161  1054012
1796             71          21         0  24091914     91.90    137  1054012
1797             71          22         0  14848586     56.64     15   267580
1798             71          23         0  20158282     76.90     18   267580
1799             71          24         0  21388594     81.59    119  1054012

[1800 rows x 7 columns]

In [801]:
from CKA import feature_space_linear_cka as cka
def interaction_correlation(interaction1, interaction2, a, model_cka):
    # Get dataset and model form interactions
    d1, m1 = interaction1
    d2, m2 = interaction2
    # Compute interaction correlation
    dataset_similarity = meta_dataset_similarity.loc[d1,d2]
    if model_cka:
        model_feature1 = np.load("../features/" + str(int(m1) - 72) + ".npy")
        model_feature2 = np.load("../features/" + str(int(m2) - 72) + ".npy")
        model_similarity = cka(model_feature1, model_feature2)
        if math.isinf(model_similarity):
            model_similarity = 1
        if math.isnan(model_similarity):
            model_similarity = meta_model_similarity.loc[m1,m2]
    else:
        model_similarity = meta_model_similarity.loc[m1,m2]
    # print(dataset_similarity,model_similarity)
    interaction_corr = (dataset_similarity * a + model_similarity * (1-a))
    return interaction_corr

In [802]:
def select_elements(lst, num_elements):
    # Calculate the step length
    step = math.floor(len(lst) / num_elements)

    # Select elements
    selected_elements = lst[::step]

    # If more elements are selected, cut off the extra ones
    if len(selected_elements) > num_elements:
        selected_elements = selected_elements[:num_elements]

    return selected_elements

In [803]:
import math
for dataset_id in prediction_test.index:
    model_test = data_model_test_matrix.loc[dataset_id]
    non_nan_models = model_test[model_test.notnull()].index.tolist()
    for model_id in non_nan_models:
        model_scores = 0
        score = 0
        connection = 0
        most_sim_datasets = Find_Top_k(dataset_id,meta_dataset_similarity)[1:30]
        most_sim_datasets = list(set(most_sim_datasets) & set(datasets_train))[:3]
        # print(most_sim_datasets)
        # most_sim_datasets = select_elements(most_sim_datasets, 3)
        interaction_corr_list = []
        for sim_datasets in most_sim_datasets:
            series = data_model_train_matrix.loc[sim_datasets]
            sorted_series = series.sort_values(ascending=False)  # 从大到小排序
            non_nan_models = sorted_series[sorted_series.notnull()].index.tolist()
            for near_model in non_nan_models:
                performance = data_model_train_matrix.loc[sim_datasets,near_model]
                connection += 1
                interaction1 = [dataset_id,model_id]
                interaction2 = [sim_datasets, near_model]
                interaction_corr = interaction_correlation(interaction1, interaction2, 0.2, True)
                interaction_corr_list.append([sim_datasets,near_model,interaction_corr,performance])

        # 我们可以使用以下代码进行排序：
        sorted_interaction_corr= sorted(interaction_corr_list, key=lambda x: x[2], reverse=True)
                # print(interaction_corr,performance,interaction_corr * performance)
                # model_scores += interaction_corr * performance
        # score = model_scores / connection
        # # print(connection)
        # print(sorted_interaction_corr)
        b = 10
        top_k_interaction_corr= sorted_interaction_corr[:b]
        top_k_performance = sorted(top_k_interaction_corr, key=lambda x: x[3], reverse=True)
        k = 3
        top_k = [item[3] for item in top_k_performance[:k]]
        # 计算平均值
        average_interaction_corr = np.mean(top_k)
        # print(average_rating)
        prediction_test.loc[dataset_id,model_id] = average_interaction_corr
        # print(dataset_id,model_id,score)

C:\Users\BYY\Model_Recommendation\Kaggle\Experiment_part_2\CKA.py:151: RuntimeWarning: invalid value encountered in double_scalars
  return dot_product_similarity / (normalization_x * normalization_y)
C:\Users\BYY\Model_Recommendation\Kaggle\Experiment_part_2\CKA.py:151: RuntimeWarning: divide by zero encountered in double_scalars
  return dot_product_similarity / (normalization_x * normalization_y)

In [804]:
prediction_test

,97,98,99,100,101,102,103,104,105,106,...,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771
1,0.601662,0.583886,0.628905,0.515936,0.557168,0.577259,0.583465,0.598717,0.530136,0.534659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,0.709,0.574333,0.597,0.8305,0.833024,0.707833,0.8525,0.833167,0.869,0.836167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.647171,0.353224,0.571071,0.434583,0.545854,0.441424,0.604427,0.671556,0.522237,0.939219

In [805]:
data_model_test_matrix

,97,98,99,100,101,102,103,104,105,106,...,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771
1,0.672734,0.748037,0.755532,0.99536,0.99429,0.98965,0.996074,0.998572,0.996788,0.995004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,0.653979,0.714286,0.700445,0.989125,0.989619,0.974296,0.989125,0.990114,0.990114,0.989619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50112,0.504479,0.504479,0.504479,0.504479,0.504479,0.504479,0.581187,0.504479,0.50224

In [806]:
result = pd.DataFrame(columns={"dataset","model","balanced_accuracy","groundtruth_balanced_accuracy"})

In [807]:
for i in prediction_test.index:
    for j in prediction_test.columns:
        if prediction_test.fillna(0).loc[i][j] != 0:
            balanced_accuracy = prediction_test.loc[i][j]
            groundtruth_balanced_accuracy = data_model_test_matrix.loc[i][j]
            result = result.append([{'dataset':i,'model':j,'balanced_accuracy':balanced_accuracy,'groundtruth_balanced_accuracy':groundtruth_balanced_accuracy}],ignore_index=True)

In [808]:
result

     model  groundtruth_balanced_accuracy dataset  balanced_accuracy
0       97                       0.672734       1           0.601662
1       98                       0.748037       1           0.583886
2       99                       0.755532       1           0.628905
3      100                       0.995360       1           0.515936
4      101                       0.994290       1           0.557168
...    ...                            ...     ...                ...
1370  1767                       0.504479      67           0.441424
1371  1768                       0.504479      67           0.604427
1372  1769                       0.581187      67           0.671556
1373  1770                       0.504479      67           0.522237
1374  1771                       0.502240      67           0.939219

[1375 rows x 4 columns]

In [809]:
result.to_csv("../Experiment_part_2/result.csv",index=False)